@import "config";

%tab {
	transition: .3s all ease;
	cursor: pointer;
	position: relative;
	> p {
		margin: 0;
		padding: 8px 16px;
		font-size: 0.8rem;
		font-family: Poppins-Medium, sans-serif;
		text-transform: uppercase;
		color: $text-primary;
	}
	&:hover, &.selected {
		background-color: $body-secondary;
		> p {
			color: $color-primary;
		}
	}
}

%icon {
	@include size(30px);
	transition: .3s all ease;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	> svg {
		@include size(70%);
		fill: $color-primary;
	}
	&:hover {
		background-color: rgba($body-secondary, .8);
	}
}

%input {
	background-color: $body-secondary;
	padding: 0.5rem;
	width: 100%;
	border: 1px solid $sep-primary;
	color: $text-secondary;
	&[type="color"] {
		padding: 0;
		border: none;
		background-color: none;
	}
}

%label {
	color: $text-primary;
	font-size: 1rem;
	margin: 0;
	font-family: Poppins-Light, sans-serif;
}

%input-container {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 5px;
	> label {
		@extend %label;
	}
	> input {
		@extend %input;
	}
}

%button {
	transition: .3s all ease;
	background-color: $color-primary;
	padding: 0.5rem;
	color: $text-primary;
	font-family: Poppins-SemiBold, sans-serif;
	border-radius: 4px;
	&:hover {
		background-color: rgba($color-primary, .7);
	}
	&[type="submit"], &.secondary {
		background-color: $color-secondary;
		&:hover {
			background-color: rgba($color-secondary, .7);
		}
	}
}

%text-input {
	@extend %input-container;
	display: flex;
	flex-direction: column;
	> label {
		margin-bottom: 5px;
	}
	> .input-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		[type="button"] {
			@include size(26px);
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

%color-input {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 100%;
	grid-gap: 5px;
	padding: 0.5em;
	> label {
		grid-column: 1 / 3;
	}
	> .input {
		border-radius: 6px;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-gap: 5px;
		background-color: $body-secondary;
		> input[type="text"] {
			@extend %input;
			border: none;
			color: $color-primary;
		}
		> button {
			height: calc(100% - (5px * 2));
			margin-right: 5px;
			aspect-ratio: 1 / 1;
			border-radius: 2px;
		}
	}
}

%value-input {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	grid-gap: 5px;
	padding: 0.5em;
	> label {
		grid-column: 1 / 3;
	}
	> .input {
		display: flex;
		flex-direction: row;
		background-color: $body-secondary;
		border-radius: 6px;
		overflow: hidden;
		> input {
			@extend %input;
			border: none;
			color: $color-primary;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none !important;
				margin: 0 !important;
			}
		}
		> section {
			display: flex;
			flex-direction: column;
			> button {
				@include size(18px);
				border-radius: 0;
				> svg {
					@include size(100%);
					> path {
						@include size(100%);						
					}
				}
				&:nth-child(2) {
					> svg {
						transform: rotate(180deg);
					}
				}
				&:hover {
					background-color: $body-primary;
				}
			}
		}
	}
}